html {
  -webkit-font-smoothing: antialiased;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  background-color: #E3F2FD;
  overflow: auto;
}

main {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  text-align: center;
  background-color: #E3F2FD;
  height: 75vh;
  justify-content: center;
}

h1 {
  z-index: 15;
  color: #424242;
}

h2 {
  z-index: 15;
  color: #616161;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form label {
  color: #424242;
}

form input,select {
  margin: 1rem;
  width: 65%;
}

form button {
  background-color: #1762A7;
  color: #fff;
  border-radius: .5rem;
  border: none; 
  padding: .75rem 1.5rem;
  font-size: .9rem;
}

form button:focus {
  outline: none;
  border: .5px solid #5C6BC0;
  border-radius: .5rem;
}

form button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #64B5F6;
}

/* .circle-1 {
  background-image: url(../images/coin.png);
  background-size: contain;
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: #5C6BC0;
  bottom: 15vw;
  left: 10vw;
  z-index: 0;
}

.circle-2 {
  background-image: url(../images/gold-coin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  bottom: 28vw;
  right: 15vw;
  z-index: 0;
} */